h4,
h6 {
  text-shadow: 2px 2px 8px black;
}
#sort {
  margin: 25px;
  padding: 10px 0px;
  background-color: lightblue;
  width: 400px;
  border-radius: 20px;
  text-align: center;
}

.container {
  margin: 25px;
  position: relative;
  color: white;
  width: 400px;
  border-radius: 30px;
  overflow: hidden;
}

.top-left-text {
  position: absolute;
  top: 0px;
  left: 22px;
}

.top-left-text2 {
  position: absolute;
  top: 20px;
  left: 22px;
}
